@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*https://www.dafont.com/es/*/
/*declaracion de variables para css*/
:root {
    /*paleta de colores*/
    --color1:#ffff;
    --color2:#0000;
    --color3:#090030;
    --color4:#04879C;

    --fuentePrincipal:'Russo One', sans-serif;
    --fuenteSecundaria:'Prompt';
}

/*elimina cualquier margen y relleno predeterminado*/
* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: 200;  
    margin-bottom: 10px;
}

h1 {
    color: white;
    font-family: var(--fuentePrincipal)
}

h2, h3 {
    color: white;
    font-style: italic;
    font-family: var(--fuenteSecundaria)
}

p{
    color: white;
    font-family: var(--fuenteSecundaria)
}



/*ID*/

#cabecera {
    background-color: var(--color3);    
}

#nosotros, #programas, #pie {
    background-color: var(--color4);
}

#servicios, #alumnos, #graduacion {
    background-color: var(--color3);
}

#banner img{
    display: block;
}

#graduacion {
    background-image: url("../img/graduacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right;
    background-attachment: fixed;
}

/*CLASSES*/

.espaciado {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contenedor {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.fila {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.columna {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.ajustar_ancho {  /*ajusta ancho con respecto de la caja padre*/
    width: 100%;
}

.texto-enorme {
    font-size: 40px;
    font-weight: 500;
}

