@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*https://www.dafont.com/es/*/
/*declaracion de variables para css*/
:root {
    /*paleta de colores*/
    --color1:#ffff;
    --color2:#0000;
    --color3:#090030;
    --color4:#04879C;

    --fuentePrincipal:'Russo One', sans-serif;
    --fuenteSecundaria:'Prompt';
}

/*elimina cualquier margen y relleno predeterminado*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: var(--fuentePrincipal);
}

h1, h2 {
    font-weight: 200;  
    margin-bottom: 10px;
}

h1 {
    color: white;
    font-family: var(--fuentePrincipal)
}

h2, h3 {
    color: white;
    font-style: italic;
    font-family: var(--fuenteSecundaria)
}

p{
    color: white;
    font-family: var(--fuenteSecundaria)
}

h2 {
    text-shadow: 4px 4px 4px rgba(94,91,188,0.7);
}

p {
    line-height: 1.5;
}

a {
    color : var(--color1);
    text-decoration: none; /*quitar la decoracion de este item */
}
/*ID*/
#barra-superior {
    background-color: var(--color4);
    color: var(--color1);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em; /*mismo tamaño fuente caja padre, en este caso body. el tamaño por defecto es 16px*/
}

#barra-superior a {
    margin-right: 10px;
}

#barra-superior .fila {
    justify-content: space-between;
    align-items: center; /*alineacion vertical elementos flexbox*/
}

#cabecera {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: var(--fuentePrincipal);
    padding-top: 10px;
    padding-bottom: 10px;

    position: sticky;
    top: 0px;
    z-index:9999;
}

#cabecera a {
    color: var(--color3);  
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;/*animacion al pasar el mouse del cambio de color*/
}

#cabecera a:hover {
    color: var(--color1);
    background-color: var(--color4);  
}


#cabecera .menu-opciones {
    list-style-type: none;
}

#cabecera .logo {
    width: 100px;
    height: auto;
}

#cabecera .fila {
    justify-content: space-between;
    align-items: center; /*alineacion vertical elementos flexbox*/
}

#nosotros, #programas, #pie {
    background-color: var(--color4);
}

#servicios, #alumnos, #graduacion {
    background-color: var(--color3);
}

#banner img{
    display: block;
}

#graduacion {
    background-image: url("../img/graduacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right;
    background-attachment: fixed;
}

#alumnos img {
    border: 5px outset #5e5bbc;
    border-radius: 45px 45px 45px 45px;
    
}

#alumnos .columna:first-child img {
    filter: grayscale(100%);
}

#alumnos .columna:nth-child(2) img {
    filter: sepia(100%);
}

#alumnos .columna:nth-child(3) img {
    filter: brightness(101%) saturate(378%) contrast(168%);
}

#alumnos .columna:last-child img {
    filter: grayscale(100%) blur(1px) hue-rotate(173deg) opacity(39%);
}

#pie .fila {
   justify-content: space-between;
}

#pie i {
    font-size: 32px;
    margin-left: 10px;
    color: white;
}

#eventos {
    background-color: var(--color3);
    color: var(--color1);
}

#eventos img{
    transition: all 0.3s ease-in-out;
}

#eventos img:hover{
    transform: scale(1.05);
    
}

/*CLASSES*/ 

.espaciado {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contenedor {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.fila {
    display: flex;  /* Activar FlexBox */
    flex-direction: row;  /* Coloca el contenido de izquierda a derecha */

    margin-left: -15px;
    margin-right: -15px;
}

.columna {
    flex-basis: 0;
    flex-grow: 1;

    padding-left: 15px;
    padding-right: 15px;
}

.ajustar_ancho {  /*ajusta ancho con respecto de la caja padre*/
    width: 100%;
}

.texto-enorme {
    font-size: 40px;
    font-weight: 500;
}

.eventos-foto {
    overflow: hidden;
}
