  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

  /*font-family: 'Gilda Display', serif;*/
  /*font-family: 'Roboto', sans-serif;*/



* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}


.nvg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
  }

.nvg__izq{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.nvg__der{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; 
}

.icon-message {
    max-width: 1.25em;
}

.avatar-img {
    max-width: 2em;
    vertical-align: middle;
}

.logo-img {
    max-width: 12.5em;
}

#nav-main {
    background-color: white;
    font-size: 13px;    
}

#nav-sec{
    background-color: black;
    font-size: 14px;   
}

.nav-main__item{
    color: #5c5c5c;
}

.nav-sec__item{
    color: #a3a3a3;
}

.nav-main__item--account {
    display: flex;
    align-items: center;
    height: 50px;
}

#color-avatar{
    background-color: #c19b76;
}

.book-now {
    font-size: 11px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 5px 10px;
}


#cabecera {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/parallax-5.jpg'); /* Replace 'path/to/image.jpg' with the actual path to your image file */
    background-repeat: no-repeat;
    background-size: cover; /* Use cover value to fill the block with the background image */
    background-position:50% 90%;
    height: calc(100vh - 100px - 100px);
    color: white;
    padding: 50px;
    text-align: center;
}

.cabecera__contenedor{
    display:flex; 
    height: calc(100vh - 100px - 100px);
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    gap: 100px;  
}

.cabecera__title1{

}

.cabecera__title2{
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Gilda Display', serif;
    font-size: 4em;

}

.cabecera__boton{

}

.cabecera__calendario{

}