@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*https://www.dafont.com/es/*/
/*declaracion de variables para css*/
:root {
    /*paleta de colores*/
    --color1:#ffff;
    --color2:#0000;
    --color3:#090030;
    --color4:#04879C;

    --fuentePrincipal:'Russo One', sans-serif;
    --fuenteSecundaria:'Prompt';
}

/*elimina cualquier margen y relleno predeterminado*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box; /* Establece el width sea el ancho final de la caja (incluendo padding y border */
    /*siempe es bueno ponerlo aqui par que los cambios en paddings y margins no afecten la visualizacion de la pagina*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    font-family: var(--fuentePrincipal);
}

h1, h2 {
    font-weight: 200;  
    margin-bottom: 15px;
}

h1 {
    color: white;
    font-family: var(--fuentePrincipal)
}

h2, h3 {
    color: white;
    font-style: italic;
    font-family: var(--fuenteSecundaria)
}

p{
    color: white;
    font-family: var(--fuenteSecundaria)
}

h2 {
    text-shadow: 4px 4px 4px rgba(94,91,188,0.7);
    position: relative;
    text-align: center;
}

/*h2::before {
    content: "<<" /*cosas que salen antes de una etiqueta h2
}*/


h2::after {
    content : "";
    position: absolute;
    bottom: 0px;
    left: calc(50% -  50px);

    /*barrita*/
    background-color: var(--color3);
    width: 100px;
    height: 2px;
}

p {
    line-height: 1.5;
}

a {
    color : var(--color1);
    text-decoration: none; /*quitar la decoracion de este item */
}
/*ID*/
#button-go-top {
    width: 45px;
    height: 45px;
    background-color: var(--color4);
    color: var(--color1);
    border: 1px solid var(--color1);

    /*posicionamiento de caja*/
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    line-height: 45px; /*para centrar verticalmente. Si le pongo la misma altura de la caja (en este caso 45px), lo centra*/
    transition: all 0.3s ease-in-out;
}

#button-go-top:hover {  /*efectos para el boton para ir al top de la pagina*/
    background-color: var(--color3);
    transform: translateY(-5px);
    box-shadow: -3px 8px 15px 0px var(--color2);

}

#barra-superior {
    background-color: var(--color4);
    color: var(--color1);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em; /*mismo tamaño fuente caja padre, en este caso body. el tamaño por defecto es 16px*/
}

#barra-superior a {
    margin-right: 10px;
}

#barra-superior .fila {
    justify-content: space-between;
    align-items: center; /*alineacion vertical elementos flexbox*/
}

#cabecera {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: var(--fuentePrincipal);
    padding-top: 10px;
    padding-bottom: 10px;

    position: sticky;
    top: 0px;
    z-index:9999;
}

#cabecera .menu-opciones a {
    color: var(--color3);  
    padding: 10px 15px;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;/*animacion al pasar el mouse del cambio de color*/
}

#cabecera .menu-opciones a:hover {
    color: var(--color1);
    background-color: var(--color4);  
}


#cabecera .menu-opciones {
    list-style-type: none;
}

#cabecera .logo {
    width: 100px;
    height: auto;
}

#cabecera .fila {
    justify-content: space-between;
    align-items: center; /*alineacion vertical elementos flexbox*/
}

#nosotros, #programas, #pie {
    background-color: var(--color4);
}

#servicios, #alumnos, #graduacion {
    background-color: var(--color3);
}

#banner {
    position: relative;
}

#banner img{
    display: block;
}

#admision {
    position: absolute;
    bottom: -80px; /* top / bottom */
    left: 35%; /* mitad de la caja padre (50%) menos mitad caja hijo (15%)*/
    width: 30%; /*con respecto al nacho de su caja padre*/
    background-color: var(--color3);
    padding: 30px;
}


#graduacion {
    background-image: url("../img/graduacion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center right;
    background-attachment: fixed;
}

#alumnos img {
    border: 5px outset #5e5bbc;
    border-radius: 45px 45px 45px 45px;
    
}

#alumnos .columna:first-child img {
    filter: grayscale(100%);
}

#alumnos .columna:nth-child(2) img {
    filter: sepia(100%);
}

#alumnos .columna:nth-child(3) img {
    filter: brightness(101%) saturate(378%) contrast(168%);
}

#alumnos .columna:last-child img {
    filter: grayscale(100%) blur(1px) hue-rotate(173deg) opacity(39%);
}

#pie .fila {
   justify-content: space-between;
}

#pie i {
    font-size: 32px;
    margin-left: 10px;
    color: white;
}

#eventos {
    background-color: var(--color3);
    color: var(--color1);
}

/*#eventos img{
    transition: all 0.3s ease-in-out;
}

#eventos img:hover{
    transform: scale(1.05);
    
}*/

#valores {
    background-color: var(--color4);
    color: var(--color4);
    text-align: center;
}

#valores .columna { /*columnas dentro de el id valores*/
    text-align: center;
}

#valores i {
    width: 100px;
    height: 100px;
    padding: 30px 10px;

    font-size: 36px;
    color: var(--color3);
    border: 2px solid var(--color3);

    box-shadow: 0px 5px 16px var(--color30);
    margin-bottom: 15px;
    transition: all 0.4s ease-in-out;
}

#valores i:hover {
    background-color: var(--color3);
    color: var(--color1);
    border: 2px solid var(--color1);
    box-shadow: 0px 5px 25px var(--color2);
}

/*CLASSES*/ 

.espaciado {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contenedor {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.fila {
    display: flex;  /* Activar FlexBox */
    flex-direction: row;  /* Coloca el contenido de izquierda a derecha */

    margin-left: -15px;
    margin-right: -15px;
}

.columna {
    flex-basis: 0;
    flex-grow: 1;

    padding-left: 15px;
    padding-right: 15px;
}

.ajustar_ancho {  /*ajusta ancho con respecto de la caja padre*/
    width: 100%;
}

.texto-enorme {
    font-size: 40px;
    font-weight: 500;
}

.eventos-foto {
    overflow: hidden;
    position: relative;
}

.eventos-foto:hover .eventos-foto-leyenda {
    display: flex;
}

.eventos-foto img {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}



.eventos-foto:hover img {
    transform: scale(1.05);
}



.eventos-foto-leyenda {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 30px;
    background-color:rgba(32,54,70,0.8) ;
    font-size: 0.8em;

    /*centrar el contenido*/
    display: flex;
    align-items: center;
    text-align: center;

    transition: all 0.3s ease-in-out;
    display: none;
    /*opacity: 0 tambien funciona? */
}